<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 1; i <= 10; i++)
        {
            <tr>
                <th scope="row">@i</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        }
      
    </tbody>
</table>

